---
import OpenOrders from "../components/OpenOrders.jsx";
import "../styles/global.css"; // Asegúrate de importar Tailwind
---

<OpenOrders client:load />
<div class="hidden bg-red-500 text-blue-500 border-green-500"></div>