---
import SalesReport from "../components/SalesReport.jsx";
import "../styles/global.css"; // Asegúrate de importar los estilos de Tailwind
import ProtectedLayout from "../components/ProtectedLayout";
---

<ProtectedLayout client:only="react">
    <div class="hidden bg-red-500 text-blue-500 border-green-500"></div>
<SalesReport client:load />
</ProtectedLayout>