---
import ProtectedLayoutr from "../components/ProtectedLayout.jsx"

---

<ProtectedLayoutr  client:only="react">
    <div class="hidden bg-red-500 text-blue-500 border-green-500"></div>
<slot/>
</ProtectedLayoutr>